<ul class="nav nav-pills">
  <li><%= link_to "Senior Team", action: :training, :team_id => 0 %></li>
  <li><%= link_to "Under 17's", action: :training, :team_id => 1 %></li>
  <li><%= link_to "Under 15's", action: :training, :team_id => 2 %></li>
  <li><%= link_to "Under 12's", action: :training, :team_id => 3 %></li>
</ul>