<ul class="nav nav-pills">
  <li><%= link_to "Senior Team", action: :results, :league_id => 1 %></li>
  <li><%= link_to "Under 17's", action: :results, :league_id => 2 %></li>
  <li><%= link_to "Under 15's", action: :results, :league_id => 3 %></li>
  <li><%= link_to "Under 12's", action: :results, :league_id => 4 %></li>
</ul>