<div class="span3 well pull-left">
  <h4>Sponsorship Packages</h4>
  <hr class="divider"></hr>
  <h5>Standard - 6 months for €100</h5>
  <i class="icon-ok">Website listing</i></br>
  <i class="icon-ok">Access to our facebook fans.</i></br>
  <i class="icon-ok">Advertising space on the website</i></br>
  <hr class="divider"></hr>
  <h5>Premium - 1 year for €200</h5>
  <i class="icon-ok">Website listing</i></br>
  <i class="icon-ok">Pitch side hoarding.</i></br>
  <i class="icon-ok">Access to our facebook fans.</i></br>
  <i class="icon-ok">Advertising space on the website</i></br>
</div>