<%= render('layouts/admin_navbar') if @admin_user %>
<h1>Editing sponsor</h1>
<%= render 'form' %>
<div class="span4 well pull-right">
<%= link_to 'Show', @sponsor, :class => "btn btn-default pull-left" %>
<%= link_to 'Back', controller: :sponsors, action: :index, :id => @admin_user.id %>
</div>
