// Place all the styles related to the Managers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.managers{
  table{
    border-color: black;
    border-width: 1px;
    border-collapse: collapse;
  }
  table tr td{
    vertical-align: top;
  }
  img {
    width: 90px;
    height: 100px;
  }

}