<% if session[:public_user] %>

<% else %>
<div class="span6 ">
  <a class="btn btn-small btn-warning pull-right" <%= link_to 'Logout',
                                                              controller: :access, action: :logout %>
  <a class="btn btn-small btn-success pull-left" <%= link_to 'Admin Menu',
                                                             controller: :access, action: :admin_menu,
                                                             :id => params[:id], :position => params[:position] %>
</div>
<% end %>